.reviewSection{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviewSection__title{
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin: 2em;
    @media screen and (max-width: 480px) {
      text-align: center;
    }
  }


.reviewSection__provider{ 
    width: 50%;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
}

.carousel__inner-slide {
    height: 500px;
    display: flex;
    justify-content: center;
   
}
.reviewSection__buttonDiv{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.reviewSection__button{
    border-radius: 50%;
    width: 11px;
    height: 11px;
    border: none;
    outline: none;
    margin-right: 3px;
    background-color: #E4E4E4;;  
}
/* .dot >button:active {
    background-color: #c4c4c4;
  } */

/* .dot >button:active{
    border-radius: 50%;
    width: 11px;
    height: 11px;
    border: none;
    outline: none;
    margin-right: 3px;
    background-color:black;;  
} */
/*
    
 
    button {

    
     
      
      
     
      &:not(:last-of-type) {
       
      }
} */


