.ourService{
    display: flex;
    align-items: center;
    margin-bottom: 4em;
    flex-wrap: wrap-reverse;
    @media screen and (max-width: 480px) {
      justify-content: center;
    }
}
.ourService__reverse{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 4em;
    flex-wrap: wrap-reverse;
    @media screen and (max-width: 480px) {
      justify-content: center;
    }
}

.ourService__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    @media screen and (max-width: 480px) {
      max-width: 100%;
    }
}

.ourService__title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
     margin: 5px 0;
    @media screen and (max-width: 480px) {
        margin-top: 1.5em;
  }
}
.ourService__desc{
    color: #7a7a7a;
    font-size: 18px;
    text-align: center;
    max-width: 55%;
    @media screen and (max-width: 480px) {
        width: 100%;
  }
}

.ourService > img{
    width: 22em;
    height: 17em;
    @media screen and (max-width: 480px) {
      width: 18em;
      height: 13em;
    }
  ;
}