.serviceSection{
    width: 100%;
    min-height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.serviceSection > p {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    @media screen and (max-width: 480px) {
      text-align: center;
    }
}








